page-landing {

  .background{

    background-color:whitesmoke;
  }

  .logoImage{

  }


  .description{
    color: black;
    line-height: 19px;
    font-size: 14px;
    text-align: center;
    mix-blend-mode: normal;
    opacity: 0.8;
  }

  button{
    margin-top:10px;
  }

  .create-account{
    text-align: center;
    align-items: center;
    height: 17px;
    min-width:100px;
    line-height: normal;
    font-size: 15px;

    color: #22B3BC;
  }

  .create-container{
    margin-top:50px;
  }
}
