

<ion-content padding class="background">

    <img src="assets/imgs/ciarlogo.png" class="logoImage">

    <p class="description">
        Ciar is a social app that lets you experience premium shopping with a social media experience
    </p>


    <button class="ciar" (tap)="signIn()" block ion-button color="primary">Sign In</button>


    <div align="center" class="create-container">
        <a (tap)="signUp()" class="create-account">Create New Account</a>
    </div>

</ion-content>
