<!--<ion-tabs>-->
  <!--<ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>-->
  <!--<ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>-->
  <!--<ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>-->
<!--</ion-tabs>-->

<!--<ion-buttons left>-->
    <!--<button ion-button icon-only (tap)="goToNotifications()">-->
        <!--<ion-icon name="notifications"></ion-icon>-->
    <!--</button>-->
<!--</ion-buttons>-->

<ion-header class="topNav">
    <ion-navbar >

        <ion-buttons left>
            <button *ngIf="this.userProvider.canGoBack" ion-button icon-only  (tap)="goBack()">
                <img src="assets/imgs/back.png" class="go-back-button">
            </button>
        </ion-buttons>


        <div align="center">
                <ion-title><img class="mainlogo" src="assets/imgs/logo.png"> </ion-title>
            </div>

            <ion-buttons end *ngIf="selected != '4'">
            <button *ngIf="userProvider.user" ion-button icon-only  (tap)="goToProfile()">
                <ion-icon class="topicon" *ngIf="!userProvider.user.image" ios="md-person" md="md-person"></ion-icon>
                <!--<img *ngIf="!userProvider.user.image" src="assets/imgs/profile.png" class="profileIcon">-->
                <img *ngIf="userProvider.user.image" [src]="userProvider.user.image" class="profileIcon">
            </button>
            </ion-buttons>


        <ion-buttons end *ngIf="selected == '4'">
            <button ion-button (click)="addMood()">
                <span ion-text color="primary" showWhen="ios">Add</span>
                <ion-icon name="md-add" showWhen="android,windows"></ion-icon>
            </button>
        </ion-buttons>


    </ion-navbar>
</ion-header>

<super-tabs ngShow="this.userProvider.currentPage" (tabSelect)="onTabSelect($event)"  tabsPlacement="bottom">
    <super-tab ngShow="this.userProvider.currentPage" [root]="page1" id="homeTab" icon="icon-home"></super-tab>
    <super-tab ngShow="this.userProvider.currentPage" [root]="page2" icon="icon-compass-with-white-needles"></super-tab>
    <super-tab ngShow="this.userProvider.currentPage" [root]="page3" icon="icon-plus"></super-tab>
    <super-tab ngShow="this.userProvider.currentPage" [root]="page4" icon="notifications"></super-tab>
    <super-tab  [root]="page5" icon="manz"></super-tab>
</super-tabs>
