<!--
  Generated template for the AddMoodPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar>
        <ion-title>
            Add Mood
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text color="primary" showWhen="ios">Cancel</span>
                <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <form id="form">
        <ion-list >
            <ion-item>
                <ion-label floating>Name</ion-label>
                <ion-input [(ngModel)]="name" type="text" name="name" required=""></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Description</ion-label>
                <ion-textarea [(ngModel)]="description" type="text" name="description" required=""></ion-textarea>
            </ion-item>


        </ion-list>
        <div align="center">
            <ion-spinner *ngIf="loading"></ion-spinner>
        </div>

        <button class="ciar" *ngIf="!loading" (tap)="saveMood()" block ion-button color="dark">Add</button>
        <button disabled *ngIf="loading" class="ciar" (tap)="saveMood()" block ion-button color="dark">Adding</button>
    </form>


</ion-content>
