page-profile {

  .bio{
    margin-top:10px;
    font-size:14px;
    color:#9b9b9b;
    letter-spacing:0;
    line-height:17px;
    text-align:left;
  }
  .profileIcon{
    height: 20px !important;
  }

  .divide{
    border-top: 1px solid #D8D8D8;
    padding:10px;
    width:100vw;
    height:80px;
    margin:30px 10px;
  }

  .username{
    font-size:14px;
    color:#585858;
    letter-spacing:0;
    text-align:left;
    font-weight: 600;
    line-height: 14px;
    margin: 0 0 5px 0;
  }

  .name{
    font-size:14px;
    color:#585858;
    letter-spacing:0;
    text-align:left;
    line-height: 14px;
    margin: 0 0 5px 0;
  }

  .count{
    font-size:18px;
    color:#176E3D;
    text-transform: uppercase;
    letter-spacing:0;
    text-align:center;
  }

  .count span{
    font-size:10px;
    color:#9b9b9b;
    letter-spacing:0;
    text-align:center;
    line-height:17px;

  }

  .list-ios .item-block .item-inner, .list-ios .item-block{
    border:none !important;
  }

  ion-item{
    border:none !important;
  }
  .editing{
    margin-top:50px;
  }
  .editing .images img{
    width:20%;
    max-width:40%;
    border-radius:200px !important;
  }

  .editing input, .editing textarea{
    border:1px solid #F1F1F1;
    padding:10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
  }
}
