<ion-header class="topNav">
    <ion-navbar >

        <div align="center">
            <ion-title><img class="mainlogo" src="assets/imgs/logo.png"> </ion-title>
        </div>
        <ion-buttons end>
            <button  ion-button icon-only (tap)="editProfile()">
                <img src="assets/imgs/edit.png" class="profileIcon">
            </button>
        </ion-buttons>

    </ion-navbar>

</ion-header>

<ion-content>

    <div class="success" *ngIf="message">{{message}}</div>
    <div class="error" *ngIf="error">{{error}}</div>

    <div *ngIf="userProvider.user">



        <div *ngIf="!isEditingUser && !isEditingPassword">

            <ion-row padding="">
                <div *ngIf="userProvider.user" align="center" col-4="">
                    <div align="center">
                        <ion-spinner *ngIf="photoLoading"></ion-spinner>
                    </div>

                    <img (tap)="photoAction()" *ngIf="userProvider.user.image" [src]="userProvider.user.image" style="border-radius: 10px;">

                    <img (tap)="photoAction()" *ngIf="!userProvider.user.image" src="assets/imgs/default.jpg" style="border-radius: 10px;">


                </div>

                <div col-8 class="bio">
                    <p class="username">{{userProvider.user.brandName}}</p>
                    <p class="name">{{userProvider.user.username}}</p>
                </div>

            </ion-row>

            <div class="divide">
                <b>About</b><br>
                <p>{{userProvider.user.bio}}</p>
            </div>
            <div class="divide">
                <b>Stats</b>
                <ion-row>
                    <p class="count" col-3>
                        {{userProvider.user.posts.length}}<br>
                        <span>Posts</span>
                    </p>

                    <p class="count" col-3>
                        {{userProvider.user.followers.length}}<br>
                        <span>Followers</span>
                    </p>
                    <p class="count" col-3>
                        {{userProvider.user.following.length}}<br>
                        <span>Following</span>
                    </p>

                    <p class="count" col-3>
                        {{userProvider.user.moods.length}}<br>
                        <span>Moods</span>
                    </p>

                </ion-row>
            </div>


            <ion-grid>
                <ion-row *ngIf="userProvider.user.posts">
                    <ion-col col-4 style="float: left;" *ngFor="let post of userProvider.user.posts.reverse()">

                        <!--<ion-slides >-->
                        <!--<ion-slide *ngFor="let image of post.images">-->
                        <img (press)="delete(post.pid)" [src]="post.files[0].url"/>
                        <!--</ion-slide>-->
                        <!--</ion-slides>-->

                    </ion-col>

                </ion-row>

            </ion-grid>


            <div *ngIf="!isEditingUser" >
                <span><button ion-button round block (tap)="editProfile()">   Edit  </button></span>
                <span><button ion-button round block (tap)="changePassword()">  Change Password </button></span>
                <span><button ion-button round block (tap)="logout()" >  Logout </button></span>
            </div>

        </div>




        <div *ngIf="isEditingUser" class="editing" >

            <div align="center" class="images">
                <img (tap)="photoAction()" *ngIf="userProvider.user.image" [src]="userProvider.user.image" style="border-radius: 10px;">

                <img (tap)="photoAction()" *ngIf="!userProvider.user.image" src="assets/imgs/default.jpg" style="border-radius: 10px;">
            </div>

            <ion-item >
                <ion-input [(ngModel)]="userProvider.user.username" [value]="userProvider.user.username" placeholder="Username" type="text"></ion-input>
            </ion-item>

            <ion-item >
                <ion-input [(ngModel)]="userProvider.user.name" [value]="userProvider.user.name" placeholder="Name" type="text"></ion-input>
            </ion-item>
            <ion-item >
                <ion-input disabled [(ngModel)]="userProvider.user.email" [value]="userProvider.user.email" placeholder="Email" type="text"></ion-input>
            </ion-item>
            <ion-item >
                <ion-input [(ngModel)]="userProvider.user.phone" [value]="userProvider.user.phone" placeholder="Phone" type="text"></ion-input>
            </ion-item>
            <ion-item >
                <ion-textarea [(ngModel)]="userProvider.user.bio" [value]="userProvider.user.bio" placeholder="Bio" type="text"></ion-textarea>
            </ion-item>


            <ion-col col-12>

                <div align="center">
                    <ion-spinner *ngIf="loading"></ion-spinner>
                </div>
                <button ion-button block round (tap)="save()" [disabled]="loading" >
                    Save
                </button>
                <button ion-button block round color="danger" (tap)="cancel()" >Cancel</button>
            </ion-col>

        </div>

        <div *ngIf="isEditingPassword">
            <ion-item >
                <ion-label stacked>Current Password</ion-label>
                <ion-input [(ngModel)]="currentPassword" type="password"></ion-input>
            </ion-item>

            <ion-item >
                <ion-label stacked>New Password</ion-label>
                <ion-input [(ngModel)]="newPassword" type="password"></ion-input>
            </ion-item>

            <ion-item >
                <ion-label stacked>Confirm New Password</ion-label>
                <ion-input [(ngModel)]="confirmPassword" type="password"></ion-input>
            </ion-item>

            <ion-col col-12>
                <div align="center">
                    <ion-spinner *ngIf="loading"></ion-spinner>
                </div>
                <button ion-button block round (tap)="savePassword()" [disabled]="loading">
                    Change
                </button>
                <button ion-button block round color="danger" (tap)="cancel()" >Cancel</button>
            </ion-col>

        </div>


    </div>
</ion-content>
