<!--
  Generated template for the SelectMoodPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-toolbar>
        <ion-title>
            Select Mood
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text color="primary" showWhen="ios">Cancel</span>
                <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content padding>

    <div align="center">
        <ion-spinner *ngIf="loading"></ion-spinner>
    </div>

    <ion-list>
    <button ion-item *ngFor="let mood of moods" (click)="moodSelected(mood)">
       {{mood.name}}
    </button>
    </ion-list>
</ion-content>
