page-mood {

  .mood img{
    max-height: 200px;
  }
  .mood .mhead{
    font-weight: 900;
    text-align: center;
  }

  .mood .count{
    text-align: center;
  }


}
.mood-grid {
  width: 100%;
  border-radius: 10px;
}
