<!--
  Generated template for the MoodPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-toolbar>
        <ion-title>
            Mood
        </ion-title>
        <ion-buttons end>
            <button ion-button (click)="addMood()">
                <span ion-text color="primary" showWhen="ios">Add</span>
                <ion-icon name="md-add" showWhen="android,windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content padding>

    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content
                refreshingSpinner="circles"
                pullingText="Pull to refresh"
                refreshingText="Loading...">

        </ion-refresher-content>
    </ion-refresher>

    <div align="center" *ngIf="loading" >
        <ion-spinner ></ion-spinner>
    </div>

          <ion-grid>

              <ion-row align-items-start>

                  <ion-col (press)="deleteMood(mood.moid)" *ngFor="let mood of moods" col-12 class="mood-grid" (tap)="goToDetails(mood)">
                      <img *ngIf="mood.posts.length <= 0" src="assets/imgs/default.jpg"
                           class="mood-grid">
                      <img *ngIf="mood.posts.length > 0" [src]="mood.posts[0].files[0].file" class="mood-grid">
                      <p class="mhead"><b>{{mood.name}}</b></p>
                      <p class="count">{{mood.posts.length}} photos</p>
                  </ion-col>
              </ion-row>


          </ion-grid>


</ion-content>
