page-home {

  .homeContent{
    margin-top: 60px;
  }
  .post img{
    max-height:400px;
  }

  .noimage{
    text-align: center;
    margin-top:30vh;
  }

  .post{
  max-height: 60vh !important;
  }

  .post-item{
    height:100% !important;
  }

  .post-slides img{
    margin:auto;
    max-height: 30vh !important;
  }

  .icon-style{
    height:20px;
    width:auto;

  }

  .icon-container{
    margin-left:16px;
  }

  .icon-container button:nth-child(1){
    padding-left:0;
  }
  .icon-container button{
    float:left;
    padding:5px;
  }
}
.ion-row{flex-wrap: nowrap;}
.ion-col{width: 25%;
  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }

  }
}
.description{
    height:60px;
    padding:5px 10px 0 10px;
    overflow:auto; /* Limits amount of text being displayed */
    overflow-clip: ellipsis;
    margin:0 auto;
}
.title{
  font-family: "Roboto" !important;
  font-weight: 600 !important;
  color: black !important;
  letter-spacing: 3px;


}

button.price{
  background: linear-gradient(180deg, #176E3D 22.1%, #238F4B 100%) !important;

  font-weight: 600;
}
#title{

}

  .swiper-pagination-bullet-active{
    background: #000;
    position: relative !important;
  }
