
<ion-content class="homeContent">


    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content
                refreshingSpinner="circles"
            pullingText="Pull to refresh"
            refreshingText="Loading posts...">

        </ion-refresher-content>
    </ion-refresher>

    <div align="center">
        <ion-spinner *ngIf="loading"></ion-spinner>
    </div>

    <p class="noimage" *ngIf="posts.length <= 0">Nothing here yet. Follow someone :)</p>
    <ion-card *ngFor="let post of posts" class="post"  >
        <div (tap)="goToDetails(post)">

                <ion-item class="post-item">
                    <ion-avatar item-start>
                      <img src="assets/imgs/avatar.png">
                    </ion-avatar>
                    <h2>{{post.customer.fname}} {{post.customer.sname}}</h2>
                    <h2>{{post.customer.username}}</h2>
                      <p>{{post.since}}</p>
                      <button class="price" *ngIf="post.isProduct == 1" item-end ion-button small>&#x20A6;{{post.price}}</button>
                  </ion-item>

                  <ion-slides class="post-slides" pager="false" *ngIf="post.files.length > 0">
                        <ion-slide pager *ngFor="let file of post.files">
                            <img [src]="file.file"/>
                        </ion-slide>
                    </ion-slides>

            <!--<ion-card-content>-->
              <!--<ion-card-title>-->
              <!--</ion-card-title>-->
              <p class="description">
                  {{post.caption}}
              </p>
              <!--<button ion-button small color="light">Read More</button>-->
            <!--</ion-card-content>-->
        </div>
            <ion-row no-padding>
              <div class="icon-container">

                <button ion-button clear small color="dark" icon-start *ngIf="post.isLiked" (tap)="unlike(post.pid)">
                  <ion-icon style="font-size:23px;" *ngIf="!likeLoading && post.isLiked" ios="md-heart" md="md-heart" color="danger" class="icon-style"></ion-icon>
                    <ion-spinner *ngIf="likeLoading"></ion-spinner>
                  <!--{{post.likes.length}} Likes-->
                </button>

                <button ion-button clear small color="dark" icon-start *ngIf="!post.isLiked" (tap)="like(post.pid)">
                  <ion-icon style="font-size:23px;" *ngIf="!likeLoading && !post.isLiked" ios="md-heart-outline" md="md-heart-outline" color="danger" class="icon-style"></ion-icon>
                    <ion-spinner *ngIf="likeLoading"></ion-spinner>
                </button>

                <button ion-button clear small color="dark" icon-start>
                  <ion-icon ios="md-share" md="md-share"></ion-icon>
                </button>


                <button (tap)="saveToMood(post.pid)" ion-button clear small color="danger" icon-start>
                  <img src="assets/imgs/download.png"  class="icon-style">
                  <!--<ion-icon name='icon-download'></ion-icon>-->
                </button>

              </div>
              <!--<ion-col text-center>-->
                <!--<button ion-button clear small color="dark" icon-start>-->
                    <!--<ion-icon ios="md-share" md="md-share"></ion-icon>-->
                <!--</button>-->
              <!--</ion-col>-->
              <!--&lt;!&ndash;<ion-col text-center>&ndash;&gt;-->
                <!--&lt;!&ndash;<button ion-button clear small color="danger" icon-start>&ndash;&gt;-->
                  <!--&lt;!&ndash;<ion-icon name='icon-comment'></ion-icon>&ndash;&gt;-->
                  <!--&lt;!&ndash;{{post.comments.length}} Comments&ndash;&gt;-->
                <!--&lt;!&ndash;</button>&ndash;&gt;-->
              <!--&lt;!&ndash;</ion-col>&ndash;&gt;-->
              <!--<ion-col text-right>-->
                <!--<button (tap)="saveToMood(post.pid)" ion-button clear small color="danger" icon-start>-->
                    <!--<img src="assets/imgs/download.png">-->
                  <!--&lt;!&ndash;<ion-icon name='icon-download'></ion-icon>&ndash;&gt;-->
                <!--</button>-->
              <!--</ion-col>-->
            </ion-row>

          </ion-card>

    <!-- <ion-card *ngFor="let post of posts" class="post" (tap)="goToDetails(post)">

        <ion-item>
            <ion-avatar item-start>
                <img src="assets/imgs/background.png">
            </ion-avatar>
            <h2>{{post.customer.fname}} {{post.customer.sname}}</h2>
            <h2>{{post.customer.username}}</h2>
            <p>{{post.created_at}}</p>
            <p *ngIf="post.isProduct == 1" item-end>&#x20A6;{{post.price}}</p>
        </ion-item>

        <img [src]="post.files[0].file">


        <ion-card-content>
            <p>{{post.caption}}</p>
        </ion-card-content>

        <ion-row>

            <button ion-button icon-start clear small>
                <ion-icon name="heart"></ion-icon>
            </button>
            <button ion-button icon-start clear small>
                <ion-icon name="share"></ion-icon>
            </button>
            <button ion-button icon-start clear small>
                <ion-icon name="add"></ion-icon>
            </button>

        </ion-row>

    </ion-card> -->



</ion-content>
