@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?vl0r8v');
  src:  url('../assets/fonts/icomoon.eot?vl0r8v#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?vl0r8v') format('truetype'),
    url('../assets/fonts/icomoon.woff?vl0r8v') format('woff'),
    url('../assets/fonts/icomoon.svg?vl0r8v#icomoon') format('svg');
  font-weight:normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-home:before,
.ion-ios-icon-home:before,
.ion-ios-icon-home-outline:before,
.ion-md-icon-home:before,
.ion-md-icon-home-outline::before{
  content: "\e900";
  font-size: 20px;
  color: black;
}

.icon-loupe:before {
  content: "\e901";
}
.icon-loupe:before,
.ion-ios-icon-loupe:before,
.ion-ios-icon-loupe-outline:before,
.ion-md-icon-loupe:before,
.ion-md-icon-loupe-outline::before{
  content: "\e901";
  font-size: 20px;
  color: black;
}

.icon-like:before {
  content: "\e902";
}
.icon-like:before,
.ion-ios-icon-like:before,
.ion-ios-icon-like-outline:before,
.ion-md-icon-like:before,
.ion-md-icon-like-outline::before{
  content: "\e902";
  font-size: 17px;
  color: black;
}
.icon-plus:before {
  content: "\e903";
}
.icon-plus:before,
.ion-ios-icon-plus:before,
.ion-ios-icon-plus-outline:before,
.ion-md-icon-plus:before,
.ion-md-icon-plus-outline::before{
  content: "\e903";
  font-size: 20px;
  color: black;
}
.icon-more:before {
  content: "\e904";
}
.icon-more:before,
.ion-ios-icon-more:before,
.ion-ios-icon-more-outline:before,
.ion-md-icon-more:before,
.ion-md-icon-more-outline::before{
  content: "\e904";
  font-size: 20px;
  color: black;
}
.icon-black-bubble-speech:before {
  content: "\e905";
}
.icon-black-bubble-speech:before,
.ion-ios.icon-black-bubble-speech:before,
.ion-ios.icon-black-bubble-speech-outline:before,
.ion-md.icon-black-bubble-speech:before,
.ion-md.icon-black-bubble-speech-outline::before{
  content: "\e905";
  font-size: 17px;
  color: black;
}
.icon-comment:before {
  content: "\e906";
}
.icon-comment:before,
.ion-ios-icon-comment:before,
.ion-ios-icon-comment-outline:before,
.ion-md-icon-comment:before,
.ion-md-icon-comment-outline::before{
  content: "\e906";
  font-size: 20px;
  color: black;
}
.icon-download:before {
  content: "\e907";
}
.icon-download:before,
.ion-ios-icon-download:before,
.ion-ios-icon-download-outline:before,
.ion-md-icon-download:before,
.ion-md-icon-download-outline::before{
  content: "\e907";
  font-size: 17px;
  color: black;
}
.icon-compass-with-white-needles:before {
  content: "\e908";
}
.icon-compass-with-white-needles:before,
.ion-ios-icon-compass-with-white-needles:before,
.ion-ios-icon-compass-with-white-needles-outline:before,
.ion-md-icon-compass-with-white-needles:before,
.ion-md-icon-compass-with-white-needles-outline::before{
  content: "\e908";
  font-size: 20px;
  color: black;
}


.icon-user:before {
  content: "\e909";
}
