page-signin {

  .logo{

    //font-family: SF Pro Display;
    line-height: normal;
    font-size: 28px;
    letter-spacing: 15px;

    text-align: center;
    color: #1F1F1F;
  }

  .description{
    //font-family: Circular;
    line-height: normal;
    font-size: 16px;
    text-align: center;

    color: #626262;
    mix-blend-mode: normal;
    opacity: 0.7;
  }

   .item-block{
    border-top:none !important;
   }

  .toolbar-background-md,.toolbar-background-ios{
    background: transparent !important;
    border:none;
  }

  .create-account{
    text-align: center;
    align-items: center;
    height: 17px;
    min-width:100px;
    line-height: normal;
    font-size: 15px;

    color: #22B3BC;
  }

  .create-container{
    margin-top:50px;
  }




}
