
<ion-header>

    <ion-navbar>
        <ion-title class="title-style">Sign In</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <p class="logo">CIAR</p>
    <p class="description">Type in your Email ID and Password you chose for Ciar and click Go to Feed</p>

    <form id="form">
    <ion-list >
        <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input [(ngModel)]="email" type="text" name="email" required=""></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input [(ngModel)]="password" type="password" name="password" required=""></ion-input>
        </ion-item>

    </ion-list>
        <div align="center">
            <ion-spinner *ngIf="loading"></ion-spinner>
        </div>


    <button class="ciar" *ngIf="!loading" (tap)="signIn()" block ion-button color="dark">Go To Feed</button>
    <button disabled *ngIf="loading" class="ciar" (tap)="signIn()" block ion-button color="dark">Signing In</button>

        <div align="center" class="create-container">
            <a (tap)="signUp()" class="create-account">Can't sign in? Reset Password</a>
        </div>

    </form>

</ion-content>
