page-post {

  ion-slides{
    max-height: 300px !important;
    //width: 100%;
  }

  ion-input{
    border-bottom: none !important;
  }
  .noimage{
    height:300px;
  }

  span.dot{
    font-size: 100px;
    color:black;
  }

  .post-information ion-label{

    line-height: normal;
    font-size: 10px;
    color: #9B9B9B;
  }

  .slides-container ion-slides img{
    max-height: 40vh;
    margin-top:30px;
    border-radius:10px;
  }

  .list-ios .item-block .item-inner, .list-ios .item-block{
    border:none !important;
  }

  ion-item {
    margin-right:20px;
    width:90% !important;
  }

  .text-icon{
    height: 20px;
    float: right;
    margin-top:-30px;
    z-index: 999 !important;
  }


}
