<!--
  Generated template for the PostPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Create Post</ion-title>

      <ion-buttons end>
          <button (tap)="takePhoto()"  ion-button icon-only>
              <ion-icon name="add"></ion-icon>
          </button>
      </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>



    <div class="slides-container">
        <ion-slides *ngIf="images.length > 0">
            <ion-slide *ngFor="let image of images">
                <img (press)="delete(post.pid)" [src]="image"/>
            </ion-slide>
        </ion-slides>

    </div>

    <br>
    <!--<span class="dot">-->
        <!--.-->
    <!--</span>-->
    <p class="noimage" align="center" *ngIf="images.length <= 0">No image yet. Please take a photo</p>


    <ion-list class="post-information">

        <ion-item>
            <ion-label>Product Post?</ion-label>
            <ion-toggle [(ngModel)]="isProduct" checked="true"></ion-toggle>
        </ion-item>

        <ion-item>
            <ion-label fixed>Caption</ion-label>
            <ion-input type="text" [(ngModel)]="caption" value=""></ion-input>
        </ion-item>
        <img class="text-icon" src="assets/imgs/smile.png">

        <ion-item *ngIf="isProduct">
            <ion-label fixed>Item Price</ion-label>
            <ion-input type="text" [(ngModel)]="price" value=""></ion-input>
        </ion-item>
        <img class="text-icon" src="assets/imgs/pluz.png">

        <ion-item *ngIf="isProduct">
            <ion-label fixed>Item Color</ion-label>
            <ion-input type="text" [(ngModel)]="color" value=""></ion-input>
        </ion-item>
        <img class="text-icon" src="assets/imgs/pluz.png">

        <ion-item *ngIf="isProduct">
            <ion-label fixed>Item Size</ion-label>
            <ion-input type="text" [(ngModel)]="size" value=""></ion-input>
        </ion-item>
        <img class="text-icon" src="assets/imgs/pluz.png">

        <ion-item>
            <ion-label fixed>Description</ion-label>
            <ion-textarea rows="10" [(ngModel)]="description"></ion-textarea>
        </ion-item>

    </ion-list>


    <div align="center">
        <ion-spinner *ngIf="loading"></ion-spinner>
    </div>

    <ion-row>
        <ion-col>
            <button *ngIf="!loading"  color="primary" block outline ion-button  icon-start>
                <ion-icon name="cloud-outline"></ion-icon>
                Save</button>
            <!--<button *ngIf="loading" disabled color="primary" block outline ion-button  icon-start>-->
                <!--<ion-icon name="cloud-outline"></ion-icon>-->
                <!--Save</button>-->
        </ion-col>

        <ion-col>
            <button *ngIf="!loading" (tap)="upload()" block icon-start ion-button color="primary">
                <ion-icon ios="ios-send-outline" md="ios-send-outline"></ion-icon>
                Post</button>
            <button *ngIf="loading" disabled block icon-start ion-button color="primary">
                <ion-icon ios="ios-send-outline" md="ios-send-outline"></ion-icon>
                Posting</button>
        </ion-col>

    </ion-row>
</ion-content>
