// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.




//.toolbar-background{
//  background-color: transparent;
//}


.topNav{
  //background-image: url("../assets/imgs/rectangle.png");
  color: white !important;
  //padding:14px 14px 0px 14px;
}

.topicon{
  color:#222u;
}

.mainlogo{
  height:20px !important;
}


.profileIcon{
  height:32px !important;
  border-radius: 5px;
}

.go-back-button{
  height:20px;
}
.topSpace{
  margin-top: 32px;
}

.title-style{
  font-size: 28px;
  letter-spacing: 15px;

  color: #1F1F1F;
}

//------

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before
{
  background: none !important;
}

button.ciar{
  line-height: normal;
  font-size: 14px !important;
  text-align: center;
  padding:15px !important;
  text-transform: capitalize !important;
  height:50px !important;
  background: linear-gradient(180deg, #176E3D 22.1%, #238F4B 100%) !important;

  border-radius: 10px !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.toolbar-title{

}

.mainlogo{
  height:50px;
}

super-tab-button:last-child{
  background-image: url('../assets/imgs/hanger.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 25px !important;
  background-size: contain;
}

@import "../theme/icons";
