<!--
  Generated template for the NotificationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>notifications</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <div class="empty">
        No Notifications yet
    </div>
</ion-content>
