page-explore {


  .picdiv{
    //background: transparent;
    float:left;
    max-width:45%;
    margin-left:10px;
    margin-top:10px;
    border:1px solid grey;
    max-height: 200px !important;
    //background-color: black;
  }


  .picdiv img{
    max-height: 200px !important;
  }
  .picdiv:nth-child(even){
    margin-top:40px;
  }


  .searchbar-ios{
    background-color: transparent;
  }

  .mood img{
    max-height: 200px;
  }
  .mood .mhead{
    font-weight: 700;
    text-align: center;
  }

  .mood .count{
    text-align: center;
  }


  .mood-grid {
    width: 100%;
    border-radius: 10px;
  }


  .mood-grid:nth-child(even){
    margin-top:40px;
  }

}
