<!--
  Generated template for the ExplorePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Explore</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

    <div class="topSpace">
        <ion-segment mode="md" [(ngModel)]="section">
            <ion-segment-button value="posts">
                Posts
            </ion-segment-button>
            <ion-segment-button value="events">
                Events
            </ion-segment-button>
        </ion-segment>
    </div>

    <div padding>


    <ion-searchbar (ionInput)="search($event)"></ion-searchbar>

    <div align="center">
        <ion-spinner *ngIf="loading"></ion-spinner>
    </div>


    <div [ngSwitch]="section">
        <ion-list *ngSwitchCase="'posts'">
            <p class="search-term" *ngIf="searchTerm">Searching for posts with "{{searchTerm}}"</p>
            <div class="picdiv" (tap)="goToPost(post)" col-6 *ngFor="let post of posts">
                <img [src]="post.files[0].file">
            </div>
        </ion-list>

        <ion-list *ngSwitchCase="'events'">
            <p class="search-term" *ngIf="searchTerm">Searching for posts with "{{searchTerm}}"</p>

            <ion-grid>

                <ion-row align-items-start>

                    <ion-col *ngFor="let event of events" col-6 class="mood-grid" >
                        <img *ngIf="!event.images" src="assets/imgs/default.jpg"
                             class="mood-grid">
                        <img *ngIf="event.images" [src]="event.image" class="mood-grid">
                        <p class="mhead">{{event.name}}</p>
                        <p class="count">{{event.location}}</p>
                    </ion-col>
                </ion-row>


            </ion-grid>


        </ion-list>
    </div>


    </div>
</ion-content>
