<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title align="center" style="margin:auto">Sign Up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <p class="logo">CIAR</p>

    <ion-list>


        <ion-item>
            <ion-label floating>Username</ion-label>
            <ion-input [(ngModel)]="username" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Your Name</ion-label>
            <ion-input [(ngModel)]="name" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Your Phone Number</ion-label>
            <ion-input [(ngModel)]="phone" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Your Email</ion-label>
            <ion-input [(ngModel)]="email" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input [(ngModel)]="password" type="password"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Confirm Password</ion-label>
            <ion-input [(ngModel)]="confirmPassword" type="password"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Account Type</ion-label>
            <ion-select [(ngModel)]="type" >
                <ion-option selected>User</ion-option>
                <ion-option>Seller</ion-option>
            </ion-select>
        </ion-item>

        <!-- seller stuff -->
        <div *ngIf="type == 'Seller'">

            <ion-item>
                <ion-label floating>Your Brand Name</ion-label>
                <ion-input [(ngModel)]="brandName" type="text"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Your Business Name</ion-label>
                <ion-input type="text" [(ngModel)]="businessName"></ion-input>
            </ion-item>


            <ion-item>
                <ion-label>Categories</ion-label>
                <ion-select [(ngModel)]="categories" multiple="true">
                    <ion-option>Men's Clothing</ion-option>
                    <ion-option>Women's Clothing</ion-option>
                    <ion-option>Accessories</ion-option>
                    <ion-option>Children's Clothes</ion-option>
                    <ion-option>Beauty</ion-option>
                    <ion-option>Skincare</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label floating>Method of Identification</ion-label>
                <ion-select [(ngModel)]="methodOfID" >
                    <ion-option>National ID</ion-option>
                    <ion-option>Voter's Card</ion-option>
                    <ion-option>Driver's License</ion-option>
                    <ion-option>International Passport</ion-option>
                </ion-select>
            </ion-item>

            <ion-item *ngIf="methodOfID">

                <button block ion-button color="danger" *ngIf="image" (tap)="removeID()">Remove ID</button>
                <button block ion-button color="primary" *ngIf="!image" (tap)="takePhoto()">Snap ID</button>
            </ion-item>


            <ion-item>
                <ion-label floating>Facebook Handle</ion-label>
                <ion-input [(ngModel)]="facebook" type="text"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Instagram Handle</ion-label>
                <ion-input [(ngModel)]="instagram" type="text"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Twitter Handle</ion-label>
                <ion-input [(ngModel)]="twitter" type="text"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Website</ion-label>
                <ion-input [(ngModel)]="website" type="text"></ion-input>
            </ion-item>


        </div>





    </ion-list>

    <div align="center">
        <ion-spinner *ngIf="loading"></ion-spinner>
    </div>

    <button color="primary" *ngIf="!loading && type=='Seller'" (tap)="signUpSeller()" ion-button>SIGN UP</button>
    <button color="primary" *ngIf="!loading && type=='User'" (tap)="signUpUser()" ion-button>SIGN UP</button>
    <button color="primary" *ngIf="loading" disabled ion-button>SIGNING UP</button>


</ion-content>
