page-signup {


  ion-title{
    margin-left: -50px;
  }
  .logo{
    //position: absolute;
    //width: 220px;
    //height: 60px;

    //font-family: SF Pro Display;
    line-height: normal;
    font-size: 50px;
    letter-spacing: 15px;

    text-align: center;
    color: #1F1F1F;
  }

}
