

<ion-content>

    <div class="topSpace"  padding>
    <p class="noimage" align="center" *ngIf="post.files.length <= 0">No image yet. Please take a photo</p>

        <ion-item class="post-item">
            <ion-avatar item-start>
                <img src="assets/imgs/avatar.png">
            </ion-avatar>
            <h2>{{post.customer.fname}} {{post.customer.sname}}</h2>
            <h2>{{post.customer.username}}</h2>
            <p>{{post.since}}</p>
            <button class="price" *ngIf="post.isProduct == 1" item-end ion-button small>&#x20A6;{{post.price}}</button>
        </ion-item>

        <ion-slides *ngIf="post.files.length > 0">
        <ion-slide *ngFor="let file of post.files">
            <img [src]="file.file"/>
        </ion-slide>
    </ion-slides>

    <h5 class="post-title">{{post.caption}}</h5>
    <p>{{post.description}}</p>

    </div> <!-- end padding -->

    <ion-row no-padding>
            <ion-col>
                <button ion-button clear small color="dark" icon-start *ngIf="post.isLiked" (tap)="unlike(post.pid)">
                    <ion-icon style="font-size:23px;" *ngIf="!likeLoading && post.isLiked" ios="md-heart" md="md-heart" color="danger" class="icon-style"></ion-icon>
                    <ion-spinner *ngIf="likeLoading"></ion-spinner>
                    {{post.likes.length}}
                </button>

                <button ion-button clear small color="dark" icon-start *ngIf="!post.isLiked" (tap)="like(post.pid)">
                    <ion-icon style="font-size:23px;" *ngIf="!likeLoading && !post.isLiked" ios="md-heart-outline" md="md-heart-outline" color="danger" class="icon-style"></ion-icon>
                    <ion-spinner *ngIf="likeLoading"></ion-spinner>
                    {{post.likes.length}}
                </button>

                <!--<button *ngIf="post.likes" ion-button clear small color="danger" icon-start (tap)="like(post.pid)">-->
                    <!--<ion-icon *ngIf="!likeLoading" name='icon-like' ></ion-icon>-->
                    <!--<ion-spinner *ngIf="likeLoading"></ion-spinner>-->
                    <!--{{post.likes.length}} Likes-->
                <!--</button>-->

              <!--<button  ion-button clear small color="danger" icon-start>-->
                <!--<ion-icon name='icon-like'></ion-icon>-->
                <!--{{post.likes.length}} Likes-->
              <!--</button>-->
              <button *ngIf="!post.likes" ion-button clear small color="danger" icon-start>
                <ion-icon name='icon-like'></ion-icon>
                0
              </button>
            </ion-col>
            <ion-col text-center>
              <button *ngIf="post.comments" ion-button clear small color="danger" icon-start>
                <ion-icon name='icon-comment'></ion-icon>
                {{post.comments.length}}
              </button>
              <button *ngIf="!post.comments" ion-button clear small color="danger" icon-start>
                <ion-icon name='icon-comment'></ion-icon>
                0
              </button>
            </ion-col>
            <ion-col text-right>
              <button (tap)="saveToMood(post.pid)" ion-button clear small color="danger" icon-start>
                <ion-icon name='icon-download'></ion-icon>
                Save
              </button>
            </ion-col>
      </ion-row>

    <div padding>

    <div class="segment-containter">
        <ion-segment [(ngModel)]="section">
            <ion-segment-button value="comments">
                Comments
            </ion-segment-button>
            <ion-segment-button value="reviews">
                Reviews
            </ion-segment-button>
        </ion-segment>
    </div>

    <div [ngSwitch]="section">
        <ion-list *ngSwitchCase="'comments'">

            <ion-item *ngIf="comments.length <= 0">
                <p align="center">No comments</p>
            </ion-item>
            <ion-item *ngFor="let comment of comments">
                <ion-avatar item-start>
                    <img src="assets/imgs/avatar.png">
                </ion-avatar>
                <h2>{{comment.customer.name}}</h2>
                <p>{{comment.comment}}</p>
            </ion-item>


        </ion-list>

        <ion-list *ngSwitchCase="'reviews'">

            <ion-item *ngIf="reviews.length <= 0">
                <p align="center">No reviews</p>
            </ion-item>

            <ion-item *ngFor="let review of reviews">
                <ion-avatar item-start>
                    <img src="assets/imgs/avatar.png">
                </ion-avatar>
                <h2>{{review.customer.name}}</h2>
                <p>{{review.review}}</p>
            </ion-item>

        </ion-list>
    </div>

    <!--<div class="row">-->
        <!--<p style="float: left;">Comments</p>-->
    <!--</div>-->

    </div>

    <button ion-button="" no-bounce class=" ciar cart-button" block color="primary">ADD TO CART &#x20A6;{{post.price}}</button>

</ion-content>
