page-post-details {

  .icon-item{
    margin-right: 15px;
  }
  ion-item{
    border-bottom:none !important;
  }

  .icon-item span{
    margin-right:5px;
  }

  .cart-button{
    display: flex;
    align-self: baseline;
    bottom:0;
  }

  ion-row ion-col{
    border:1px solid #F1F1F1;
  }

  ion-row ion-col:first-child{
    border-right: none;
  }

  ion-row ion-col:last-child{
    border-left: none;
  }



  ion-slides{
    margin-top:20px;
    max-height: 40vh;
  }

  ion-slide{
    max-height: 40vh;
  }

  .segment-containter{
    margin-bottom: 15px;
  }

  .topSpace{
    margin-top: 60px;
  }




}

.post-title{
  line-height: normal;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.5px;
  border-radius: 5px;
  color:#238F4B;
  text-transform: uppercase;
  font-weight: 700;
}
.slider {
  position: relative;
  visibility: hidden;
  overflow: hidden; }

.slider-slides {
  position: relative;
  height: 100%; }

.slider-slide {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  vertical-align: top; }

.slider-slide-image > img {
  width: 100%; }

.slider-pager {
  position: absolute;
  bottom: 20px;
  z-index: 1;
  width: 100%;
  height: 15px;
  text-align: center; }
  .slider-pager .slider-pager-page {
    display: inline-block;
    margin: 0px 3px;
    width: 15px;
    color: #000;
    text-decoration: none;
    opacity: 0.3; }
    .slider-pager .slider-pager-page.active {
      -webkit-transition: opacity 0.4s ease-in;
      transition: opacity 0.4s ease-in;
      opacity: 1; }

.slider-slide.ng-enter, .slider-slide.ng-leave, .slider-slide.ng-animate,
.slider-pager-page.ng-enter,
.slider-pager-page.ng-leave,
.slider-pager-page.ng-animate {
  -webkit-transition: none !important;
  transition: none !important; }

.slider-slide.ng-animate,
.slider-pager-page.ng-animate {
  -webkit-animation: none 0s;
  animation: none 0s; }
